{% extends 'base.html' %}
{% block title %}
Создать оход
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Создание обхода</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form>
                        <div class="form-group">
                            <p class="mb-1">Название обхода</p>
                            <input type="text" class="form-control input-default " placeholder="Название обхода">
                        </div>

                        <div class="form-group">
                            <p class="mb-1">Дата и время обхода</p>
                            <input type="text" class="form-control input-daterange-timepicker" name="daterange" value="01/01/2021 1:30 PM - 01/01/2021 2:00 PM">
                        </div>
                        <div class="form-group">
                            <label>NFC метки обхода</label>
                            <select style="height: 42px" class="multi-select" name="states[]" multiple="multiple">
                                <option value="AL">1</option>
                                <option value="WY">2</option>
                                <option value="UI">3</option>
                                <option value="UI">4</option>
                                <option value="UI">5</option>
                                <option value="UI">6</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Охраник на обход</label>
                            <select id="dynamic-option-creation">
                                <option>Блинов Макар Сергеевич</option>
                                <option>Львов Савва Матвеевич</option>
                                <option>Морозов Александр Павлович</option>
                                <option>Голубев Александр Вадимович</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-success">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}