{% extends 'base.html' %}
{% block title %} Обходы {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Управление ЧОПами</h4>
                <button type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#addChop"><span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
                </span>Новое ЧОП</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example5" class="display mb-4 dataTablesCard" style="min-width: 845px;">
                        <thead>
                            <tr>
                                <th>Номер предприятия</th>
                                <th>Название</th>
                                <th>Владелец</th>
                                <th>Адрес</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in objects %}
                            <tr>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[2] }}</td>
                                <td>{{ GetUserByID(i[1])[1] }}</td>
                                <td>{{ i[3] }}</td>                                     
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <!-- Modal -->
        <div class="modal fade" id="addChop">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h5 class="modal-title">Настройки ЧОП</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="basic-form">
                                <div class="form-group">
                                    <label>Название ЧОП</label>
                                    <input type="text" class="form-control input-default " placeholder="Название ЧОП">
                                </div>
                                <div class="form-group">
                                    <label>Город ЧОП</label>
                                    <input type="text" class="form-control input-default " placeholder="Город ЧОП">
                                </div>
                                <div class="form-group">
                                    <label>Владелец ЧОП</label>
                                    <select id="single-select">
                                        <option value="AL">Иванов Петр Петрович</option>
                                        <option value="WY">огравгшцрщша</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <div class="custom-control custom-checkbox mb-3 checkbox-warning">
                                                <input type="checkbox" class="custom-control-input" checked="" id="customCheckBox3" required="">
                                                <label class="custom-control-label" for="customCheckBox3"> Работа ЧОП</label>
                                                <p>(Флажок включен - ЧОП работает)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light" data-dismiss="modal">Закрыть</button>
                            <input type="submit" class="btn btn-primary"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}