
{% extends 'base.html' %}
{% block title %} Обходы {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Объекты</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example5" class="display mb-4 dataTablesCard" style="min-width: 845px;">
                        <thead>
                            <tr>
                                <th>Номер<br>объекта</th>
                                <th>Название объекта</th>
                                <th>Адрес объекта</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in objects %}
                            <tr>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[2] }}</td>
                                <td>{{ i[3] }}</td>

                                <td>
                                    <div class="dropdown ml-auto text-right">
                                        <div class="btn-link" data-toggle="modal" data-target="#viewObject_{{ i[0] }}">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                        </div>
                                    </div>
                                </td>                                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <!-- Modal -->
        {% for i in objects %}
        <div class="modal fade" id="viewObject_{{ i[0] }}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form  onsubmit="this.submit();return false;">
                        <div class="modal-header">
                            <h5 class="modal-title">Настройки объекта</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="basic-form">
                                <div class="form-group">
                                    <label>Название объекта</label>
                                    <input type="text" class="form-control input-default " disabled="disabled" placeholder="{{ i[2] }}">
                                </div>
                                <div class="form-group">
                                    <p class="mb-1">Адрес объекта</p>
                                    <input type="text" class="form-control input-default " disabled="disabled" placeholder="{{ i[3] }}">
                                </div>
                                <div class="form-group">
                                    <label>NFC метки объекта</label>
                                    <select style="height: 42px" class="multi-select" name="states">
                                        {% for j in GetNFCByObejct(i[0] ) %}
                                        <option>{{ j[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Охраники</label>
                                    <select id="dynamic-option-creation">
                                        {% for j in GetSecsByObejct(i[0] ) %}
                                        <option>{{ GetUserByID(j[1])[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}